[submodule "SubModules/BaseClass"]
	path = SubModules/BaseClass
	url = https://github.com/razanskylab/BaseClass.git
[submodule "SubModules/FrequencyFilter"]
	path = SubModules/FrequencyFilter
	url = https://github.com/razanskylab/FrequencyFilter.git
[submodule "SubModules/MatlabUtilities"]
	path = SubModules/MatlabUtilities
	url = https://github.com/razanskylab/MatlabUtilities.git
[submodule "SubModules/Image_Filter"]
	path = SubModules/Image_Filter
	url = https://github.com/razanskylab/Image_Filter.git
[submodule "SubModules/Frangi_Filter"]
	path = SubModules/Frangi_Filter
	url = https://github.com/razanskylab/Frangi_Filter.git
[submodule "SubModules/AOVA"]
	path = SubModules/AOVA
	url = https://github.com/razanskylab/AOVA.git
[submodule "SubModules/MVolume"]
	path = SubModules/MVolume
	url = https://github.com/razanskylab/MVolume.git