[submodule "SubModules/export_fig"]
	path = SubModules/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "SubModules/BaseClass"]
	path = SubModules/BaseClass
	url = https://github.com/razanskylab/BaseClass.git
[submodule "SubModules/FrequencyFilter"]
	path = SubModules/FrequencyFilter
	url = https://github.com/razanskylab/FrequencyFilter.git
[submodule "SubModules/MatlabUtilities"]
	path = SubModules/MatlabUtilities
	url = https://github.com/razanskylab/MatlabUtilities.git
